*{margin:0;padding:0;box-sizing:border-box}

body{
    background:black;
    color:#39ff14;
    font-family: 'VT323',;
    padding:40px;
    display:flex;
    justify-content:center;
    font-size: x-large;
    font-weight: bolder;
}

.page{ width:100%; 
    max-width:1100px; 
}

.neon-frame{
    border:3px solid #39ff14;
    padding:36px;
    background:#000;
    box-shadow:0 0 30px #39ff14;
}

.title{
    text-align:center;
    font-size:40px;
    margin-bottom: 25px;
    text-shadow:0 0 12px #39ff14;
}

.columns{
    display:flex;
    gap:28px;
    align-items: flex-start;
}

.col{ 
    flex:1;
    font-size:24px;
    line-height:1.5;
}

.left{
    border-right:3px dotted #39ff14;
    padding-right:20px;
}

.center{
    padding:0 18px;
    border-right:3px dotted #39ff14;
}
.center .updates li{
    margin-bottom:14px;
}
.center h2{
    margin-bottom:16px;
    font-size: 32px;
}
.right{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:18px;
}
.right_ul li{
    margin-bottom:12px;
}
li:hover{
    color: purple;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
li{
    list-style-type: square;
}
.image-frame{
    width:900px;
    height:400px;
    background-image:url(https://lumiere-a.akamaihd.net/v1/images/image_ed8d7a4e.jpeg?region=0%2C0%2C800%2C1200);
    background-size:cover;
    background-position:center;
    margin-left:20px;
    box-shadow:0 0 25px purple;
    border:6px solid purple;
    transform:rotate(5deg);
}
.image-frame:hover{
    box-shadow:0 0 35px purple;
    transition:box-shadow 0.3s ease-in-out;
    transform:rotate(0deg);
    transition: rotate 0.3s ease-in-out;
}
.counter{
    color:purple;
    font-size:26px;
    text-shadow:0 0 8px purple;
    align-self: flex-start;
}
