* {
  color: greenyellow;
  box-sizing: border-box;
  font-size: 20px;
}
body {
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
  padding: 0;
}
h1 {
  font-size: 50px ;
  text-align: center  ;
}
h2 {
  font-size: 38px;
}
.box {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid greenyellow;
  box-shadow: 0px 0px 50px greenyellow;
}
.inner-box {
  width: 24%;
  height: 400px;
  padding: 50px;
  display: inline-block;
}
.border {
  border-right: 2px dashed greenyellow;
}
img {
  width: 100%;
  transform: rotate(15deg)  scale(1.5);
  border: 3px solid indigo;
  transition: 1s;
}
img:hover {
  transform: rotate(0) scale(1.8);
  box-shadow: 0 0 50px indigo;
}
.visitor {
  color: indigo;
}
li {
  margin: 15px 0 ;
}
li:hover {
  color: indigo;
}