body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.box {
    width: 90%;
    padding: 50px;
    box-sizing: bboxorder-;
    margin-left: 20px;
    margin-right: 40px;
    
}

.blue {
    background-color: #add8e6;
    width: 80%;
    padding: 60px;
    height: 50px;
    box-sizing: content-box;
    margin-left: 40px;
    margin-top: 20px;
}

.green {
    background-color: #98f59e;
        margin-bottom: 40px;

}

.image-box {
    background-image: url("https://www.publicdomainpictures.net/pictures/320000/velka/background-image.png");
    background-size: 25%;
    background-repeat: round;
    color: white;
    height: 100px;
    margin-bottom: 40px;
    
}
