*{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2;
}
.big{
    color: chartreuse;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-width: 2px;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.3);
    border-color: chartreuse;
    border-style: solid;
    width: 900px;
    height: 490px;
    margin-top: 40px;

}
#heading{
    text-align: center;
    padding: 30px;
}
#smallone{
    text-align: left;
    padding-bottom: 10px;
    display: inline-block;
}
.vline{
    border-left: 2px dashed chartreuse; 
    height: 250px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}
#smalltwo{
    display: inline-block;
    text-align: left;
}
#smallthree{
    display: inline-block;
    text-align: left;
}
.pp{
    display: inline-block;
    color: purple;
}
.square{
    list-style-type: square;
}
.photo{
    width: 200px;
    height: 280px;
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/image_ed8d7a4e.jpeg?region=0%2C0%2C800%2C1200);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid purple;
    transform: rotate(5deg);
    display: inline-block;
    transition: transform 0.3s ease;
}
.photo:hover{
    transform: scale(1.3) rotate(0deg);
}
#one:hover { 
    color: purple; 
}
#two:hover{
    color: purple; 
}
#three:hover{
    color: purple; 
}
#four:hover{
    color: purple; 
}