.blue{
    background-color: rgba(0, 255, 255, 0.37);
    width:95% ;
    height: 100px; 
    padding:20px; 
margin: auto;
}
.green{
    background-color: aquamarine;
    padding: 40px 20px;
}
.hello{
    background-image: url(https://www.publicdomainpictures.net/pictures/320000/velka/background-image.png);
height: 165px;
background-size:contain ;
color: white;
margin-top:50px; 
padding-top:50px ;
padding-left:20px ;
}