.F
{
    background-color: aqua;
    margin: 20px;
    padding: 10px;
}
.M
{
    background-color: aquamarine;
    margin-top: -40px;
    margin-bottom: 30px;
    padding: 30px;
}
.L
{
    background-image: url(https://www.publicdomainpictures.net/pictures/320000/velka/background-image.png);
    background-size: 25% 100%;
    padding: 40px;
    color: aliceblue;
}