.box{
color: black;
background-color: #c8e1ef;
padding: 20px;
margin: 20px 30px;
}
.b2{
    color: black;
    background-color: rgb(78, 174, 46);
    padding: 30px;
    margin : -25px 20px;
    
}
.b3{
    color :black;
    padding: 20px;
    margin: 50px;
    background-image: url("https://www.publicdomainpictures.net/pictures/320000/velka/background-image.png ");
    background-repeat: repeat-x;
    background-size: 250px;

}
   












