body
{
    height: 100vh;
    background-color: black;
    color: chartreuse;
    font-family: cursive;
    font-size: 20px;
} 
.H
{
    text-align: center;
}
.bo
{
    border: 5px solid chartreuse;
    box-shadow: 5px 5px 15px 5px chartreuse;
    margin:200px;
    padding: 50px;
}
.L
{
    display: inline-block;
    border-right: 3px dashed chartreuse;
    padding-right: 10px;
    line-height: 35px;
}
.M
{
    display: inline-block;
    border-right: 3px dashed chartreuse;
    padding-right: 10px;
    line-height: 43px;
}
.hover:hover{ color: blueviolet; cursor: pointer;}
.R
{
    display: inline-block;
    padding-right: 10px;
    line-height: 30px;
}
.F:hover{ color: blueviolet; cursor:pointer;}
.S:hover{ color: blueviolet; cursor:pointer;}
.Th:hover{ color: blueviolet; cursor:pointer;}
.version
{
    color: blueviolet;
}
.photo
{
    display: inline-block;
    width: 250px;
    transition: transform 1s ease;
    transform: rotate(6deg);
    border: 4px blueviolet solid ;
    
}
.photo:hover
{
    transform: scale(1.1) rotate(0deg);
     box-shadow: 5px 5px 15px 5px blueviolet;

}