
        .item_1 {
            background: rgb(145, 198, 198);
       margin: 40px 30px 0 30px ;
       padding: 30px;
        }

      
        .item_2 {
            background:rgb(144, 195, 144);
            margin:-40px 5px 40px 5px;
            padding: 30px;
            

        }
        .item_3 {
            background-image: url("https://www.publicdomainpictures.net/pictures/320000/velka/background-image.png"); 
            background-repeat: repeat-x;
             background-size: 25% 100%;
             padding: 25px;
             margin:50px 5px  ;

        }

       
   
     